<div class="chats-page">
    <!-- LEFT: chats list -->
    <section class="chats-section">
        {{#each chats}}
            <a class="chat-item" href="/chats?chat={{id}}" data-chat-id="{{id}}">
            <img
                    class="chat-preview__avatar"
                    src="data/users/{{id}}/avatar.jpg"
                    alt="Изображение пользователя {{title_name}}"
            />

            <div class="chat-preview__title">
                <span class="chat-preview__title_name">{{title_name}}</span>
                <span class="chat-preview__title_date">{{title_date}}</span>
            </div>

            <div class="chat-preview__subtitle">
          <span class="chat-preview__subtitle_last-message">
              {{#if last_message}}
                  <span class="chat-preview__subtitle last_message author">{{last_message.author}}</span>
              <span class="chat-preview__subtitle last_message text">{{last_message.text}}</span>
              {{else}}
                  <span class="chat-preview__subtitle last_message text">No messages yet</span>
              {{/if}}
          </span>

                {{#if not_read_count}}
                    <span class="chat-preview__subtitle_counter">{{not_read_count}}</span>
                {{/if}}
            </div>
            </a>
        {{/each}}
    </section>

    <!-- RIGHT: chat panel (JS will render content here) -->
    <section class="chat-section" id="chat-panel">
        <div class="chat-empty">Select chat</div>
    </section>
</div>

<script>
    window.__USER_ID__ = {{userId}};
    window.__CHATS__ = {{{json chats}}};
</script>
